src/Logikfabrik.Umbraco.Jet.UI/Translation/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="language">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="creator" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:anyURI" name="link"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="area" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="key" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="alias" use="optional"/>
                      <xs:attribute type="xs:string" name="version" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="alias" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="alias"/>
      <xs:attribute type="xs:string" name="intName"/>
      <xs:attribute type="xs:string" name="localName"/>
      <xs:attribute type="xs:byte" name="lcid"/>
      <xs:attribute type="xs:string" name="culture"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
